<div class="crud">
  <h3>Log in to your cornucopia account:</h3>

  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username:">
    <input type="password" name="password" placeholder="password:">
    <input class="btn btn-primary" type="submit" value="log in">
  </from>
</div>
