<h3> Here are your Cornucopias, <%= current_user.username %></h3>
  <% current_user.cornucopias.each do |cornucopia| %>
    <ul>
      <li><h4><a href="/cornucopias/<%=cornucopia.id %>"><%= cornucopia.name %></a></h4></li>
      <a href="/cornucopias/<%=cornucopia.id%>/edit">Edit Cornucopia</a> |&nbsp;<a href="/items/new">Add Item</a>
    </ul>

  <% end %>
