<h2>Edit <%= @cornucopia.name %></h2>

<form action="/cornucopias/<%= @cornucopia.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Cornucopia Name</label>
  <input type="text" name="name" value="<%= @cornucopia.name %>"> </br>
  <input type="submit" value="Update">
</form>
