<div class="navi">
  <ul>
    <li><a href="/cornucopias/new">Create a New Cornucopia</a></li>
    <li><a href="/logout">log out</a></li>
  </ul>
</div>

<% @cornucopias.each do |cornucopia| %>
  <%= cornucopia.name %></br>
  <a href="/cornucopias/<%= cornucopia.id %>/edit">Edit</a>
  <br>
  <br>
  <% end %>
