<div class="crud">
  <h3>Create a New Cornucopia</h3>

  <form action="/cornucopias" method="POST">
    <label>Cornucopia Name: </label>
    <input type="text" name="name">

    <br></br>

    <input class="btn btn-primary" value="Submit" type="submit">
  </form>

  <br><br>

  <p>or click <a href="/cornucopias">here</a> to view the cornucopias</p>
</div>
